{% unless page.no_header %}
{% if index %}
  <div class="row-fluid">
    <div class="span2">
		<h1 class="date-time">{% include post/date.html %}<i class="icon-calendar-empty"></i> {{ time }}</h5>
          {% if post.categories %}
          <div class="row-fluid categories">
          {{ post.categories | category_links }}
          </div>
          {% endif %}
    </div>
    <div class="span10">
      <h1 class="link">{{ post.title }}</h1>
      {{ content | excerpt }}
      {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
      {% if excerpted == 'true' %} <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a> {% endif %}
    </div>
  </div>
{% else %}
  <header>
  <div class="jumbotron">
    {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
	<h5>{% include post/date.html %}<i class="icon-calendar-empty"></i> {{ time }} {% include post/categories.html %}</h5>
  </div>
</header>
  <div class="row-fluid">
    <div class="span12">
      {{ content }}

      <h4>Ads</h4>
      <script type="text/javascript"><!--
      amazon_ad_tag = "oku2008-22"; amazon_ad_width = "728"; amazon_ad_height = "90"; amazon_ad_link_target = "new"; amazon_ad_border = "hide"; amazon_color_border = "3383E9"; amazon_color_text = "5A5E5F"; amazon_color_link = "3383E9"; amazon_color_price = "3383E9"; amazon_color_logo = "FDFDFD";//--></script>
      <script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>

    </div>
  </div>
{% endif %}
{% endunless %}
