/* Firefox, Opera, Safari */
@font-face {
  font-family:mplus-1p-light;
  src:url("../webfonts/mplus-1p-light.woff") format("truetype")
}

@font-face {
  font-family:rounded-l-mplus-1c-light;
  src:url("../webfonts/rounded-l-mplus-1c-light.woff") format("truetype")
}

body {
  font-family: 'mplus-1p-light' , sans-serif;
  /*font-family: 'rounded-l-mplus-1c-light' , sans-serif;*/
}
