// Add your custom styling here.

@font-face {
  font-family:mplus-1p-light;
  src:url("/fonts/mplus-1p-light.woff") format("truetype")
}

body {
  font-family: 'mplus-1p-light', sans-serif;
}

h1 {
  font-family: 'mplus-1p-light', sans-serif; 
}