// Add your custom styling here.

@font-face {
  font-family:mplus-1p-light;
  src:url("/fonts/mplus-1p-light.woff") format("truetype")
}

body {
  font-family: 'Open Sans', 'mplus-1p-light', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1.5;
}

.jumbotron {
  font-family: "Quicksand", 'mplus-1p-light', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  padding: 50px 0;
}

.hentry>*>.jumbotron {
  font-family: 'mplus-1p-light', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 48px;
}

.jumbotron:after {
  content: normal;
}

h1 {
  font-family: 'mplus-1p-light', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; 
  font-size: 28px;
  font-weight: 100;
}

h2, h3, h4, h5 {
  font-family: 'mplus-1p-light', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; 
  color: $primary-color;
  line-height: 200%
}

hr {
  border-top: 1px solid $border-color
}

li {
  line-height: 150%;
}
.border-top {
  border-top: 1px solid $border-color;
}

.link {
  font-weight: 500;
  font-size: 28px;
}

a:hover {
  text-decoration: underline;
}

.navbar-inverse .nav>li>a {
  color: $secondary-color;
  font-weight: 100;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .dropdown-menu a:hover,
.navbar-inverse .dropdown-menu a:focus {
  color: $secondary-color;
  text-decoration: underline;
  background-color: $navbar-color;
}

.navbar-inverse .nav .active>a, 
.navbar-inverse .nav .active>a:hover, 
.navbar-inverse .nav .active>a:focus {
background-color: transparent;
  color: $text-color;
}

.categories { 
  color: transparent; /* Hide category sepalated comma */
}

.categories>.category {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: $secondary-color;
  padding: 3px 3px;
  margin: 1px -4px 1px 0px;
  line-height: 30px;
}

.categories>.category:hover {
  color: $bg-color;
  background-color: $secondary-color;
  text-decoration: none;
}

.archive {
  margin-bottom: 8px;
}

article blockquote {
  font-size: 15px;
  line-height: 120%;
  font-family: 'mplus-1p-light', sans-serif; 
}

article blockquote p:before,
article blockquote p:after {
 font-family: 'Quicksand';  
}

strong, b {
  font-weight: 100;
  font-style: italic;
}

p code, li code {
  font-size: 12px;
}

.social-sharing {
  float: left !important;

}

footer a {
  font-weight: 100;
}
